In [1]:
l1=[1,2,3,4]
print [i+10 for i in l1]

[11, 12, 13, 14]

In [3]:
l1=[1,2,3,4]
g2=(i+10 for i in l1)

In [4]:
g2

In [5]:
g2.next()

11

In [6]:
for i in g2:
    print i

12
13
14

In [7]:
g2.next()

StopIteration:

In [9]:
def fun():
    return [1,2,3,4]
f1=fun()
print type(f1)
print f1

<type 'list'>
[1, 2, 3, 4]

In [10]:
def fun():
    yield [1,2,3,4]
f1=fun()
print type(f1)
print f1

<type 'generator'>
<generator object fun at 0x7fe93d5a0d70>

In [11]:
l1=[1,2,3,4]
g2=(i+10 for i in l1)
for i in g2:
    print i

11
12
13
14

In [12]:
for i in g2:
    print i

In [14]:
d1={'name':"python", "age":26,'height':6}
d2={"street":"st1","district":'d1','state':"TS"}

In [15]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [16]:
d1-d2

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [17]:
l=[1,2,3]

In [20]:
l*l

TypeError: can't multiply sequence by non-int of type 'list'

In [19]:
l*2

[1, 2, 3, 1, 2, 3]

In [23]:
print d1

{'age': 26, 'name': 'python', 'height': 6}

In [24]:
print d2

{'state': 'TS', 'street': 'st1', 'district': 'd1'}

In [25]:
d1['name']

'python'

In [26]:
d1[0]

KeyError: 0

In [27]:
print d1
print d2

{'age': 26, 'name': 'python', 'height': 6}
{'state': 'TS', 'street': 'st1', 'district': 'd1'}

In [28]:
for i in d1:
    print i

age
name
height

In [29]:
for i in d1:
    print i, d1[i]

age 26
name python
height 6

In [30]:
d1.items()

[('age', 26), ('name', 'python'), ('height', 6)]

In [31]:
for i in d1.items():
    print i

('age', 26)
('name', 'python')
('height', 6)

In [33]:
for key, value in d1.items():
    print "key={0}, value={1}".format(key,value)

key=age, value=26
key=name, value=python
key=height, value=6

In [34]:
for k, v in d1.items():
    print "key={0}, value={1}".format(k,v)

key=age, value=26
key=name, value=python
key=height, value=6

In [36]:
d1.iteritems()

In [37]:
i=d1.items()
j=d1.iteritems()

In [38]:
i

[('age', 26), ('name', 'python'), ('height', 6)]

In [39]:
j

In [41]:
for k in i:
    print k

('age', 26)
('name', 'python')
('height', 6)

In [42]:
for k in i:
    print k

('age', 26)
('name', 'python')
('height', 6)

In [43]:
for k in j:
    print k

('age', 26)
('name', 'python')
('height', 6)

In [44]:
for k in j:
    print k

In [45]:
d1.keys()

['age', 'name', 'height']

In [46]:
d1.iterkeys()

In [47]:
d1.values()

[26, 'python', 6]

In [48]:
d1.itervalues()

In [49]:
d1

{'age': 26, 'height': 6, 'name': 'python'}

In [50]:
d1['newkey']="value"

In [51]:
d1

{'age': 26, 'height': 6, 'name': 'python', 'newkey': 'value'}

In [52]:
d1['age']=37

In [53]:
d1

{'age': 37, 'height': 6, 'name': 'python', 'newkey': 'value'}

In [54]:
d1['adhar']

KeyError: 'adhar'

In [55]:
v= d1['adhar'] if d1.has_key('adhar') else ""

In [56]:
print v

In [57]:
d1

{'age': 37, 'height': 6, 'name': 'python', 'newkey': 'value'}

In [58]:
v=d1.get('adhar',"dummy value")

In [59]:
v

'dummy value'

In [60]:
v=d1.get('age',"dummy value")

In [61]:
v

37

In [62]:
d1

{'age': 37, 'height': 6, 'name': 'python', 'newkey': 'value'}

In [63]:
k=d1.keys()
vk=d1.viewkeys()

In [64]:
k

['newkey', 'age', 'name', 'height']

In [65]:
vk

dict_keys(['newkey', 'age', 'name', 'height'])

In [66]:
d1.pop()

TypeError: pop expected at least 1 arguments, got 0

In [67]:
d1.pop('age')

37

In [68]:
d1

{'height': 6, 'name': 'python', 'newkey': 'value'}

In [69]:
k

['newkey', 'age', 'name', 'height']

In [70]:
vk

dict_keys(['newkey', 'name', 'height'])

In [71]:
d1

{'height': 6, 'name': 'python', 'newkey': 'value'}

In [72]:
d1.popitem()

('newkey', 'value')

In [73]:
d1

{'height': 6, 'name': 'python'}

In [75]:
k=d1.keys()
print k
d1['age']=27
print k

['name', 'height']
['name', 'height']

In [76]:
k=d1.keys()
k2=k
print k
d1['age']=27
print k
k.append("sdfsdgs")
print k
print k2

['age', 'name', 'height']
['age', 'name', 'height']
['age', 'name', 'height', 'sdfsdgs']
['age', 'name', 'height', 'sdfsdgs']

In [77]:
d1

{'age': 27, 'height': 6, 'name': 'python'}

In [78]:
k=d1.keys()

In [79]:
type(k)

list

In [80]:
k

['age', 'name', 'height']

In [81]:
d1

{'age': 27, 'height': 6, 'name': 'python'}

In [82]:
d1.popitem()

('age', 27)

In [83]:
d2

{'district': 'd1', 'state': 'TS', 'street': 'st1'}

In [84]:
d1

{'height': 6, 'name': 'python'}

In [85]:
d2.update(d1)

In [86]:
d2

{'district': 'd1',
 'height': 6,
 'name': 'python',
 'state': 'TS',
 'street': 'st1'}

In [87]:
d2

{'district': 'd1',
 'height': 6,
 'name': 'python',
 'state': 'TS',
 'street': 'st1'}

In [88]:
d3=d2
d4=d2.copy()

In [89]:
print d3

{'state': 'TS', 'street': 'st1', 'name': 'python', 'district': 'd1', 'height': 6}

In [90]:
print d4

{'state': 'TS', 'street': 'st1', 'name': 'python', 'district': 'd1', 'height': 6}

In [91]:
print id(d2)
print id(d3)

140639724750840
140639724750840

In [92]:
print id(d2)
print id(d4)

140639724750840
140639724763688

In [93]:
d3.update({'new':'value'})

In [94]:
d3

{'district': 'd1',
 'height': 6,
 'name': 'python',
 'new': 'value',
 'state': 'TS',
 'street': 'st1'}

In [95]:
d2

{'district': 'd1',
 'height': 6,
 'name': 'python',
 'new': 'value',
 'state': 'TS',
 'street': 'st1'}

In [96]:
d4

{'district': 'd1',
 'height': 6,
 'name': 'python',
 'state': 'TS',
 'street': 'st1'}

In [97]:
d1.clear()

In [98]:
d1

{}

In [99]:
d2

{'district': 'd1',
 'height': 6,
 'name': 'python',
 'new': 'value',
 'state': 'TS',
 'street': 'st1'}

In [101]:
d2.setdefault('nk',"v1")

'v1'

In [102]:
d2

{'district': 'd1',
 'height': 6,
 'name': 'python',
 'new': 'value',
 'nk': 'v1',
 'state': 'TS',
 'street': 'st1'}

In [106]:
d={}
keys=['k1','k2','k3','k4']
value="dummy"
d2=d.fromkeys(keys,value)

In [107]:
d2

{'k1': 'dummy', 'k2': 'dummy', 'k3': 'dummy', 'k4': 'dummy'}

In [105]:
d

{}

In [108]:
# what are the datatypes i can use for dict keys?
d={1:10,"str":[1,2,43],(1,2,3):"tuple"}

In [109]:
d[(1,2,3)]

'tuple'

In [110]:
d.update({[1,2,3]:"list"})

TypeError: unhashable type: 'list'

In [111]:
d1={1:10,1:1000}

In [112]:
d1[1]

1000

In [113]:
keys=['k1','k2','k3']
values=['v1','v2','v3']
d={}
for k,v in zip(keys,values):
    d.update({k:v})
print d

{'k3': 'v3', 'k2': 'v2', 'k1': 'v1'}

In [117]:
keys=['k1','k2','k3']
values=['v1','v2','v3']
d={}
d1=[d.update({k:v}) for k,v in zip(keys,values)]
    
print d  
print d1

{'k3': 'v3', 'k2': 'v2', 'k1': 'v1'}
[None, None, None]

In [115]:
keys=['k1','k2','k3']
values=['v1','v2','v3']
d = {k:v for k,v in zip(keys,values)}
    
print d

{'k3': 'v3', 'k2': 'v2', 'k1': 'v1'}

In [116]:
keys=['k1','k2','k3']
values=['v1','v2','v3']
d = [k:v for k,v in zip(keys,values)]
    
print d

SyntaxError: invalid syntax (<ipython-input-116-e536b0625fee>, line 3)

In [119]:
d

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [120]:
print d.update({'k4':'v4'})

None

In [121]:
print d

{'k3': 'v3', 'k2': 'v2', 'k1': 'v1', 'k4': 'v4'}

In [122]:
keys=['k1','k2','k3']
values=['v1','v2','v3']
d = dict(zip(keys,values))
print d

{'k3': 'v3', 'k2': 'v2', 'k1': 'v1'}

In [123]:
dict([(1,2),(3,4),(5,6)])

{1: 2, 3: 4, 5: 6}